@import "./mixins";

.container {
  margin: 0 auto;
  padding: 0 var(--spacing-container-padding-x);
  max-width: calc(var(--spacing-container-width) + var(--spacing-container-padding-x) * 2);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  @include fixHeight(var(--spacing-header-height));
  background-color: var(--orange-950-rgba);
  border: 1px solid var(--gray-150-rgba);
  transition: backdrop-filter var(--transition-duration-normal) ease;
  z-index: 100;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.logo {
  padding: 25px 15px 25px 25px;
  height: 100%;
  border-left: 1px solid var(--gray-150-rgba);
  border-right: 1px solid var(--gray-150-rgba);

  &-svg {
    transition: filter var(--transition-duration-normal) ease;

    & use {
      fill: url(#svg-gradient-orange);
    }

    & stop {
      transition: stop-color var(--transition-duration-slow) ease;
    }
  }

  &:hover &-svg {
    stop {
      &:nth-child(1) {
        stop-color: var(--blue-550);
      }
      &:nth-child(2) {
        stop-color: var(--blue-350);
      }
    }
  }
}

.nav-list {
  display: flex;

  & > li:not(:last-child) {
    margin-right: 2.5rem;
  }
}

.link {
  &-style-1 {
    position: relative;
    transition: color var(--transition-duration-normal) ease;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -4px;
      height: 1px;
      width: 0;
      background: var(--gray-100);
      transition: width var(--transition-duration-normal) ease;
    }

    &:hover:after {
      width: 100%;
      left: 0;
    }

    &:hover {
      color: var(--gray-100);
    }
  }
}

.hero {
  min-height: var(--spacing-hero-height);

  &:after, &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &:before {
    background-image:
            url(../../../public/assets/images/hero/background.webp),
            url(../../../public/assets/images/hero/texture.webp);
    background-position: calc(50% - 32px), center;
    background-repeat: no-repeat, repeat;
    z-index: -2;
  }

  &:after {
    background-image:
            url(../../../public/assets/images/hero/mask.webp);
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .container {
    display: flex;
    height: 100%;
    padding-top: var(--spacing-header-height);
    z-index: 2;
  }

  h1 {
    font-size: clamp(1.625rem, 4vw, 3.625rem);
    text-transform: uppercase;
  }

  &-content {
    padding-top: 6.25rem;
    margin-bottom: 5.625rem;
    color: var(--transparent);
    background-image: linear-gradient(
      -90deg,
      var(--orange-600) 0%,
      white 90%
    );
    background-clip: text;

    mask-image: radial-gradient(
      ellipse var(--spacing-planet-size) var(--spacing-planet-size) at
      calc(var(--spacing-planet-size) / 2 + var(--position-planet-mask-x))
      calc(var(--spacing-planet-size) / 2 + var(--position-planet-mask-y)),
      transparent 50%, white 50.5%
    );
    mask-repeat: no-repeat;
    mask-composite: exclude;
  }
}

.planet-imitation {
  left: 50%;
  top: 138px;
  width: var(--spacing-planet-size);
  height: var(--spacing-planet-size);
  border-radius: 100%;
  opacity: 0.5;
  transform: translateX(-50%);
}

.benefits {
  width: 21.625rem;
  min-height: calc(var(--spacing-hero-height) - var(--spacing-header-height));
  margin-left: auto;

  &-list, &-background {
    display: grid;
    grid-template-columns: repeat(2, var(--spacing-benefits-card-size));
    grid-template-rows: repeat(2, var(--spacing-benefits-card-size));
    gap: 0.625rem;
    top: 0;
    left: 0;
    padding-top: 2.375rem;
    width: 100%;
    height: 100%;
  }

  &-list {
    color: transparent;
    font-weight: 100;

    background-image: linear-gradient(
      -90deg,
      var(--gray-110) 0%,
      white 100%
    );
    background-clip: text;
    z-index: 2;
    pointer-events: none;
  }

  &-background {
    > div {
      background-color: rgba(255, 255, 255, .2);
      border: 1px solid transparent;
      opacity: .1;

      transition-property: opacity, border-color;
      transition-duration: var(--transition-duration-normal);
      transition-timing-function: ease;

      &:nth-child(4n+1) {
        @include benefitsCardMaskAngle(135deg);
      }

      &:nth-child(4n+2) {
        @include benefitsCardMaskAngle(-135deg);
      }

      &:nth-child(4n+3) {
        @include benefitsCardMaskAngle(45deg);
      }

      &:nth-child(4n+4) {
        @include benefitsCardMaskAngle(-45deg);
      }

      &:hover {
        opacity: .5;
        border-color: white;
      }
    }
  }

  &-item, &-background > div {
    width: var(--spacing-benefits-card-size);
    height: var(--spacing-benefits-card-size);
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-content {
    &--central {
      padding-top: 1.25rem;
      font-size: 3.625rem;
      font-weight: 700;
      line-height: 100%;
    }
  }
}

.canvas {
  top: 0;
  left: 0;
}
