@import "./mixins";

.container {
  margin: 0 auto;
  padding: 0 var(--spacing-container-padding-x);
  max-width: calc(var(--spacing-container-width) + var(--spacing-container-padding-x) * 2);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  @include fixHeight(var(--spacing-header-height));
  background-color: var(--orange-950-rgba);
  border: 1px solid var(--gray-150-rgba);
  z-index: 100;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.logo {
  padding: 25px 15px 25px 25px;
  height: 100%;
  border-left: 1px solid var(--gray-150-rgba);
  border-right: 1px solid var(--gray-150-rgba);

  &-svg {
    transition: filter var(--transition-duration-normal) ease;

    & use {
      fill: url(#svg-gradient-orange);
    }

    & stop {
      transition: stop-color var(--transition-duration-normal) ease;
    }
  }

  &:hover &-svg {
    filter: var(--light-1);

    stop {
      &:nth-child(1) {
        stop-color: var(--blue-550);
      }
      &:nth-child(2) {
        stop-color: var(--blue-350);
      }
    }
  }
}

.nav-list {
  display: flex;

  & > li:not(:last-child) {
    margin-right: 2.5rem;
  }
}

.link {
  &-style-1 {
    position: relative;
    transition: color var(--transition-duration-normal) ease;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -4px;
      height: 1px;
      width: 0;
      background: var(--gray-100);
      transition: width var(--transition-duration-normal) ease;
    }

    &:hover:after {
      width: 100%;
      left: 0;
    }

    &:hover {
      color: var(--gray-100);
    }
  }
}

.hero {
  position: relative;
  min-height: 41.25rem;

  &:after, &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:before {
    background-image:
            url(../../../public/assets/images/hero/background.webp);
    z-index: -2;
  }

  &:after {
    background-image:
            url(../../../public/assets/images/hero/mask.webp);
    background-size: 100% auto;
    z-index: -1;
  }

  .container {
    padding-top: var(--spacing-header-height);
    z-index: 2;
  }

  h1 {
    padding-top: 4.0625rem;
    text-transform: uppercase;
  }

  &-content {
    color: var(--transparent);
    background-image:
            linear-gradient(-90deg,
                    rgba(255,63,4,1) 65%,
                    rgba(255,255,255,1) 90%,
                    rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-size: cover;
    background-clip: text;
  }
}
