@import "./mixins";

.full-hidden {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.corner-box {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);

    background-image:
      linear-gradient(white, white),
      linear-gradient(white, white),
      linear-gradient(white, white),
      linear-gradient(white, white),
      linear-gradient(white, white),
      linear-gradient(white, white),
      linear-gradient(white, white),
      linear-gradient(white, white);
    background-position:
      0 0,
      0 0,
      0 100%,
      100% 100%,
      100% 100%,
      100% 0,
      100% 0,
      0 100%;
    background-repeat: no-repeat;

    transition: background-size var(--transition-duration-normal) ease;
    transition-property: background-size, filter;
    transition-duration: var(--transition-duration-normal);
    transition-timing-function: ease;
  }

  &--large:after {
    @include cornerSize(7px);
  }

  &--large:hover:after {
    @include cornerSize(21px);
    filter: var(--light-1);
  }

  &--small:after {
    filter: var(--light-2);
    @include cornerSize(5px, false);
  }

  &--small:hover:after {
    filter: var(--light-3);
    @include cornerSize(100%, false);
  }
}

.button {
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  background-color: var(--blue-950-rgba-5);
  border: 1px solid var(--gray-990);
  border-image: linear-gradient(
    190deg,
    var(--blue-600) 30%,
    var(--blue-800) 40%,
    var(--blue-850) 55%,
    var(--blue-550) 85%) 2;

  transition-property: background-color, filter, text-shadow;
  transition-duration: var(--transition-duration-normal);
  transition-timing-function: ease;

  &:hover {
    background-color: var(--blue-950-rgba-10);
    filter: var(--light-3);
    text-shadow: 0 0 7px rgba(0, 255, 255, 1);
  }
}
