* {
  // colors
  --white: #fff;
  --gray-100: #b1b1b1;
  --blue-900: #0b141d;
  --orange-450: #d35718; // ?
  --transparent: transparent;

  // fonts
  --font-size-default: 1rem;
  --line-height-default: 1.375rem;
}
